html,body {
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:fit-content; 
    margin:0;
    padding:0;
    display: grid;
    grid-template-areas: 
        "hd"
        "new"
        "old"
        "ft"
        ;
    grid-template-columns: 1fr;
    //grid-template-rows: minmax(10vh,150px) 1fr  1fr minmax(10vh,150px) ;
    grid-template-rows: minmax(10vh,150px) 1fr  minmax(80vh,150px) 1fr;
}

.header {
    grid-area: hd;
    background-image: url('../media/header.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.input-travel{
    grid-area: new;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    margin-bottom:10px;
}

.planned-trips-container{
    min-height: min-content;
    width:100vw;
    grid-area: old;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 0;
    margin: 0;
    align-items: center;
    background:  linear-gradient(180deg, #FFFFFF 20%,#9fa7a8 50%,#5d696b 100%);
}

.footer{
    grid-area: ft;
    text-align: center;
    background:#5d696b;
}



/*  Basic Styling To Override Default For Basic HTML Elements */

a{
    color: black;
}

a:link{
    font-weight: bold;
    text-decoration-line: none;
}

a:visited{
    font-weight: bold;
    text-decoration-line: none;
}


a:hover{
    text-decoration: underline;
}


