$form-width: 400px;
$form-height: 30px;

.input-travel{
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 196, 196);
    align-items: center;
}

%form-default{
    width: 95vw;
    height:$form-height;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;   
    margin: 0; 
    padding: inherit;
    border: 1px solid saddlebrown;
    //box-shadow: 2px 4px 5px #444;
}

%form-default:hover{
    box-shadow: 4px 6px 8px rgb(4, 1, 51);
}

@media(min-width:$form-width){
    %form-default{
        width: $form-width;
        height:$form-height;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;    
        
        margin: 2px;
        //box-shadow: 2px 4px 5px #444;
    }
}

@media(min-width:800px){
    %form-default{
        width: 400px;
        height:50px;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;    
        //box-shadow: 2px 4px 5px #444;
    }

    .input-travel{
        flex-direction: row;
        height:min-content;
        align-items: left;
        justify-content: left;
    }
}

label{
    display: inline;
    font-size: 20px;
    width: minmax(200px,30vw);
}



.form-input{
    @extend %form-default;
    background:#22b2da;
    color:darkslategray;
}


#input-date{
    color:darkslategray;
}

button{
    @extend %form-default;
    background: #3b4a6b;
    color: #f0d43a;
    box-shadow: 2px 4px 5px #444;
}

button:hover{
    box-shadow: 4px 6px 8px rgb(4, 1, 51);
}

h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: darkslategray; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:darkslategray; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:darkslategray; 
    font-family: 'Oswald', sans-serif;

} 