.trip-container{
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    height: auto;
    border: solid 4px black;
    border-radius: 3px;
    margin-bottom: 2vw;
}

img{
    height: 150px;
    width: 150px;
    margin:1px;
}

.trip-right{
    padding-left: 10px; 
}

.trip-title{
    font-size: 26px; 
}