$trash-size: 20px;


.trip-container-box{
    width: minmax(400px,80vw);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    border-radius: 3px;
    margin-bottom: 2vw;
}


@media(min-width:800px){
    .trip-container-box{
        width: 780px;
        align-self: start;
        margin: 10px;
    }
}

.trip-container{
    width: inherit;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

img{
    height: 150px;
    width: 150px;
    margin:1px;
}

.trip-right{
    padding-left: 10px; 
}

.trip-title{
    font-size: 18px; 
}

.close-bar{
    display: flex;
    height: fit-content;
    justify-content: right;
}
.trash-button{
    background-image: url('../media/trash.png');   
    background-size: cover;
    height: $trash-size;
    width: $trash-size;
    margin: 5px;
}