.trip-container{
 width: 80vw;
 height: fit-content;
 display: flex;
 flex-direction: row;
 height: auto;
 border: solid 4px black;
 border-radius: 3px;
 margin-bottom: 2vw;
}

.trip-image{
    background-image:url('../img/default.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}


.trip-right{
    padding-left: 10px; 
}

.trip-title{
    font-size: 26px; 
}